/* Add this to the top of your root CSS file */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;

  /* overflow-x: hidden; */
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: blue;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
